			body {
				font-family: Arial, sans-serif;
				margin: 0;
				padding: 0;
			}
			h1 {
				margin: 0;
			} 
			nav {
				background-color: #f2f2f2;
   				padding: 0px;
				text-align: left;
			}
    
			nav ul {
				display: list-item;
				background-color: lightsteelblue;
				list-style-type: none;
				margin: 0;
				padding: 0;
		    }
    
    		nav ul li {
 		    	display: inline-block;
			}
    
			nav ul li a {
      			color: #333;
      			display: block;
      			padding: 10px 20px;
      			text-decoration: none;
			}
    
			nav ul li a:hover {
				background-color: lightblue;
				color: black;
			}
    
			section {
				padding: 20px;
			}
    
			.align-left {
				text-align: left;
			}
    
			.profile{
				border-radius: 50%;
			}
    
			footer {
				background-color: #333;
  			    color: #fff;
 				padding: 20px;
				text-align: center;
			}
			
            .sticky.navbar-fixed-top .header-right .btn {
                margin-top: 10px
            }
            
			.header-right-fix {
				right: 0;
                bottom: -15px;
                position: absolute
            }
            
			.row {
					display: -ms-flexbox; /* IE10 */
					display: flex;
					-ms-flex-wrap: wrap; /* IE10 */
					flex-wrap: wrap;
					margin: 0 -16px;
					
				}

				.col-50 {
					-ms-flex: 40%; /* IE10 */
					flex: 30%;
					padding: 0 10px;
				}
								
				label {
				  margin-bottom: 15px;
				  display: block;
				}
				
				.form-container {
					display: none;
				}
				
				table {
					width: 80%;
					margin: 20px auto;
					border-collapse: collapse;
					border: 1px solid #ccc;
				}
				th, td {
					padding: 10px;
					text-align: center;
					border: 1px solid #ccc;
				}
				th {
					background-color: #f2f2f2;
					text-align: center;
				}
				tr:nth-child(even) {
					background-color: #f2f2f2;
				}
				tr:hover {
					background-color: #e0e0e0;
				}
				
				.success-message {
				    background-color: #d4edda;
				    color: #155724;
				    border: 1px solid #c3e6cb;
				    padding: 10px;
				    margin-top: 10px;
				}

				.error-message {
				    background-color: #f8d7da;
				    color: #721c24;
				    border: 1px solid #f5c6cb;
				    padding: 10px;
				    margin-top: 10px;
				}