<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.org" >
	<head>
		<title>About Us</title>
			<link rel="stylesheet" type="text/css" href="/css/styles.css">
	</head>
	<body>
		<div class="header">
			<a class="menu-icon" href="#">
				<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
				<h2> Nexus Health Care</h2>
			</a>
			<div class="header-menu">
				<a href="/home">Home</a>
				<a href="/about">About</a>
				<a href="/service">Services</a>
				<a href="/showMyLoginPage">Login</a>
				<a href="/contactUs/form">Contact</a>
			</div>
			<div class="header-icons">
				<!-- Search Icon -->
				<i class="fas fa-search"></i>
				<!-- Home Icon -->
				<i class="fas fa-home"></i>
				<!-- Shopping Icon -->
				<i class="fas fa-user"></i>
			</div>
		</div>
		<div class="slideshow-container">
			<img src="" th:src="@{images/tech1.jfif}" alt="" height="250" width="1520">
		</div>
		<div class="line-separator">		</div>
		<article>
			<section class="card">
				<div class="text-content">
					<h3>Elevate Your Brand with Exceptional Design</h3>
					<p>Your website is often the first point of contact for potential customers. We believe great design can help elevate your brand and make a lasting impression.</p>  
					<a href="#">Join now</a>
				</div>
				<div class="visual">
					<img src="https://images.unsplash.com/photo-1548142813-c348350df52b?crop=entropy&cs=tinysrgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NzgzMDU1NDY&ixlib=rb-4.0.3&q=80" alt=""  style="height:110%"/>
				</div>
			</section>
		
			<section class="card">
				<div class="text-content">
					<h3>Responsive Design for Every Screen Size</h3>
					<p>We specialize in creating responsive designs that look great on desktop, tablet, and mobile devices, ensuring your site is accessible to all your visitors.</p>  
					<a href="#">Join now</a>
				</div>
				<div class="visual">
					<img src="https://images.unsplash.com/photo-1564460576398-ef55d99548b2?crop=entropy&cs=tinysrgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NzgzMDU1NDY&ixlib=rb-4.0.3&q=80" alt="" style="height:110%" />
				</div>
			</section> 
		
			<section class="card">
				<div class="text-content">
					<h3>Design that Speaks to Your Audience</h3>
					<p>We work closely with you to understand your brand and your customers, so we can create a website that speaks directly to your target audience.</p>  
					<a href="#">Join now</a>
				</div>
				<div class="visual">
					<img src="https://images.unsplash.com/photo-1631085274261-0ace0296eaa0?crop=entropy&cs=tinysrgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NzgzMTExMDg&ixlib=rb-4.0.3&q=80" alt="" style="height:110%" />
				</div>
			</section> 
		
			<section class="card">
				<div class="text-content">
					<h3>Design that Drives Results for Your Business</h3>
					<p>We specialize in creating websites that not only look great but also drive traffic and conversions. Let us help you create a website that delivers real business value.</p>  
					<a href="#">Join now</a>
				</div>
				<div class="visual">
					<img src="https://images.unsplash.com/photo-1611703372231-02ffff8abee6?crop=entropy&cs=tinysrgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NzgzMTEyNTU&ixlib=rb-4.0.3&q=80" alt="" style="height:110%" />
				</div>
			</section> 
		</article>

		<div class="line-separator">		</div>
		<div class="centered-input">
			<input type="range" value="230" min="0" max="360" id="hue">
	    </div>
		<script src="/js/script.js"></script>

		<section class="before-footer">
			<h2 style="font-size:18px; color:green;">
				NEXUS HEALTHCARE (OPC) PRIVATE LIMITED (  CIN No: 454543854656 ) Company Information
			</h2>
			As a claim Investigation Agency, we are dedicated to unraveling the truth and providing comprehensive investigative solutions. With a commitment to excellence, integrity, and thoroughness, we specialize in delivering accurate and timely results to meet the diverse needs of our clients.
			<br />
			The registration number of this company is 338325 .Its registered address is where Company is actual registered : Room No. 302, Trimurti App Mumbradevi Colony, ROA THANE Thane MH 400612 IN. For any Query You can reach this company by email address or Postal address.
		</section>
		<footer>
			<p style="text-align: center;">&copy; <span id="year"></span> Nexus Health Care. All rights reserved.</p>
		</footer>
		<script>
			document.getElementById('year').textContent = new Date().getFullYear();
		</script>
	</body>
</html>