<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<link rel="stylesheet" type="text/css" href="/css/styles.css">
	</head>
	
	<body>
		<div class="header">
			<a class="menu-icon" href="#">
				<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">				<h2> Nexus Health Care</h2>
			</a>
			<div class="header-menu">
				<a href="/home">Home</a>
				<a href="/about">About</a>
				<a href="/service">Services</a>
				<a href="/showMyLoginPage">Login</a>
				<a href="/contactUs/form">Contact</a>
			</div>
			<div class="header-icons">
				<!-- Search Icon -->
				<i class="fas fa-search"></i>
				<!-- Home Icon -->
				<i class="fas fa-home"></i>
				<!-- Shopping Icon -->
				<i class="fas fa-user"></i>
			</div>
		</div>

	    <div class="scoreboard">
			<ol>
				<li style="--i: 1">
					<a href="/insuranceclaim/show"><B>Create Case</B></a>
				</li>
				<li style="--i: 2">
					<p>Assign Case</p>
		    	</li>
				<li style="--i: 3">
					<a href="/insuranceclaim/show/all"><b>All Cases</b></a>
		    	</li>
		    	<li style="--i: 4">
					<a th:href="@{/register/showRegistrationForm}"><B>Create New Account</B></a>
		    	</li>
		    	<li style="--i: 5">
					<a href="/register/enabled"><b>Approve Account</b></a>
		    	</li>
		    	<li style="--i: 6">
					<a href="/register/disabled"><b>Suspend Account</b></a>
		    	</li>
		    	<li style="--i: 7">
					<a href="/register/show/all"><b>All Accounts</b></a>
		    	</li>
				<li style="--i: 7">
					<a href="/report"><b>Reports</b></a>
				</li>
			</ol>
		</div>

		<div class="line-separator">		</div>

		<div class="centered-input">
			<input type="range" value="230" min="0" max="360" id="hue">
	    </div>

		<script src="/js/script.js"></script>
	
		<section class="before-footer">
		<h2>About Us</h2>
		<p>As a claim investigation agency, we are dedicated to unraveling the truth and providing comprehensive investigative solutions. With a commitment to excellence, integrity, and thoroughness, we specialize in delivering accurate and timely results to meet the diverse needs of our clients.</p>
		</section>
		<footer>
			<p style="text-align: center;">&copy; <span id="year"></span> Nexus Health Care. All rights reserved.</p>
		</footer>
		<script>
			document.getElementById('year').textContent = new Date().getFullYear();
		</script>
	</body>
</html>
