<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
	    <meta charset="UTF-8">
			<link rel="stylesheet" type="text/css" href="/css/styles.css">
	    <title>Assign a claim case</title>
	</head>
	<body>		
		<div class="header">
			<a class="menu-icon" href="#">
				<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">				<h2> Nexus Health Care</h2>
			</a>
			<div class="header-menu">
				<a href="/home">Home</a>
				<a href="/about">About</a>
				<a href="/service">Services</a>
				<a href="/showMyLoginPage">Login</a>
			</div>
			<div class="header-right">
				<div class="header-btn">
					<a href="/contactUs/form" class="btn" style="background-color: lightseagreen;">Get in touch</a>
				</div>
			</div>
			<div class="header-icons">
				<!-- Search Icon -->
				<i class="fas fa-search"></i>
				<!-- Home Icon -->
				<i class="fas fa-home"></i>
				<!-- Shopping Icon -->
				<i class="fas fa-user"></i>
			</div>
		</div>

	    <form>
	    <h1>Insurance Information</h1>
	    <table>
	        <thead>
	            <tr>
	                <th>Policy Number</th>
	                <th>Insurance Type</th>
	                <th>Premium Amount</th>
	            </tr>
	        </thead>
	        <tbody>
	            <tr th:each="insurance : ${insurances}">
	                <td th:text="${insurance.policyNumber}"></td>
	                <td th:text="${insurance.insuranceType}"></td>
	                <td th:text="${insurance.premiumAmount}"></td>
	            </tr>
	        </tbody>
	    </table>
	
	    <h1>Claim Information</h1>
	    <table>
	        <thead>
	            <tr>
	                <th>Claim Amount</th>
	                <th>Claim Date</th>
	            </tr>
	        </thead>
	        <tbody>
	            <tr th:each="claim : ${claims}">
	                <td th:text="${claim.claimAmount}"></td>
	                <td th:text="${claim.claimDate}"></td>
	            </tr>
	        </tbody>
	    </table>
	    
		<a th:href="@{/create-insurance-claim}" class="btn btn-primary mt-3" role="button" aria-pressed="true">
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			Create new Insurance
		</a>
		</form>
		<footer>
			<p style="text-align: center;">&copy; <span id="year"></span> Nexus Health Care. All rights reserved.</p>
		</footer>
		<script>
			document.getElementById('year').textContent = new Date().getFullYear();
		</script>
	</body>
</html>