<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Insurance-Claim creation Form</title>
		<script>
			function toggleForm() {
				var form = document.getElementById("myForm");
				form.style.display = form.style.display === "none" ? "block" : "none";
			}
		</script>
		<link rel="stylesheet" type="text/css" href="/css/styles.css">
	</head>

	<body>
		<div class="header">
			<a class="menu-icon" href="#">
				<svg fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
				</svg>
				<h2> Nexus Health Care</h2>
			</a>
			<div class="header-menu">
				<a href="/home">Home</a>
				<a href="/about">About</a>
				<a href="/service">Services</a>
				<a href="/showMyLoginPage">Login</a>
				<a href="/contactUs/form">Contact</a>
			</div>
<!--			<div class="header-right">
				<div class="header-btn">
					<a href="/contactUs/form" class="btn" style="background-color: lightseagreen;">Contact</a>
				</div>
			</div>
-->
			<div class="header-icons">
				<svg fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
				</svg>
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
					<path d="M437.02 330.98c-27.883-27.882-61.071-48.523-97.281-61.018C378.521 243.251 404 198.548 404 148 404 66.393 337.607 0 256 0S108 66.393 108 148c0 50.548 25.479 95.251 64.262 121.962-36.21 12.495-69.398 33.136-97.281 61.018C26.629 379.333 0 443.62 0 512h40c0-119.103 96.897-216 216-216s216 96.897 216 216h40c0-68.38-26.629-132.667-74.98-181.02zM256 256c-59.551 0-108-48.448-108-108S196.449 40 256 40s108 48.448 108 108-48.449 108-108 108z" />
				</svg>
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 208.955 208.955">
					<path d="M190.85 200.227L178.135 58.626a7.5 7.5 0 00-7.47-6.829h-26.221V39.971c0-22.04-17.93-39.971-39.969-39.971-22.038 0-39.966 17.931-39.966 39.971v11.826H38.27a7.5 7.5 0 00-7.47 6.829L18.035 200.784a7.5 7.5 0 007.47 8.17h157.946a7.5 7.5 0 007.399-8.727zM79.509 39.971c0-13.769 11.2-24.971 24.967-24.971 13.768 0 24.969 11.202 24.969 24.971v11.826H79.509V39.971zm-45.8 153.984L45.127 66.797h19.382v13.412a7.5 7.5 0 007.5 7.5 7.5 7.5 0 007.5-7.5V66.797h49.936v13.412a7.5 7.5 0 007.5 7.5 7.5 7.5 0 007.5-7.5V66.797h19.364l11.418 127.158H33.709z" />
				</svg>
			</div>
		</div>
		<div th:if="${message}">
	        <script th:inline="javascript">
	            alert([[${message}]]);
	            window.location.href = '/insuranceclaim/show';
	        </script>
	    </div>

		<div class="form-container">	
			
		    <h1>Insert and Claim Insurance Data</h1>
			<form  th:action="@{/insuranceclaim/add}" th:object="${insuranceClaimDTO}" method="POST">
				<!-- Insurance fields -->
				<input type="text" th:field="*{policyNumber}" />
				<input type="text" th:field="*{insuranceType}" />
				<input type="text" th:field="*{insuredName}" />
				<input type="text" th:field="*{insuranceCompany}" />
				<input type="text" th:field="*{premiumAmount}" />
			
				<!-- Claim fields -->
				<input type="text" th:field="*{claimAmount}" />
				<input type="date" th:field="*{claimDate}" />
			
				<button type="submit" id="submit">Submit</button>
			</form>
		</div>
		
		<div class="line-sperater">
		</div>

		<div class="centered-input">
			<input type="range" value="230" min="0" max="360" id="hue">
	    </div>
		<script src="/js/script.js"></script>

		<section class="before-footer">
			<h2>About Us</h2>
			<p>As a claim investigation agency, we are dedicated to unraveling the truth and providing comprehensive investigative solutions. With a commitment to excellence, integrity, and thoroughness, we specialize in delivering accurate and timely results to meet the diverse needs of our clients.</p>
		</section>

		<footer>
			<p style="text-align: center;">&copy; 2023 My Home Page. All rights reserved.</p>
		</footer>
	</body>
</html>
