<!DOCTYPE html>
<html  lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Family Doctor's Questionnaire Form</title>
		<link rel="stylesheet" type="text/css" href="/css/styles.css">
	</head>
	<body>
		<div class="header">
			<a class="menu-icon" href="#">
				<svg fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
				</svg>
				<h2> Nexus Health Care</h2>
			</a>
			<div class="header-menu">
				<a href="/home">Home</a>
				<a href="/about">About</a>
				<a href="/service">Services</a>
				<a href="/showMyLoginPage">Login</a>
				<a href="/contactUs/form">Contact</a>
			</div>
			<div class="header-icons">
				<svg fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
				</svg>
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
					<path d="M437.02 330.98c-27.883-27.882-61.071-48.523-97.281-61.018C378.521 243.251 404 198.548 404 148 404 66.393 337.607 0 256 0S108 66.393 108 148c0 50.548 25.479 95.251 64.262 121.962-36.21 12.495-69.398 33.136-97.281 61.018C26.629 379.333 0 443.62 0 512h40c0-119.103 96.897-216 216-216s216 96.897 216 216h40c0-68.38-26.629-132.667-74.98-181.02zM256 256c-59.551 0-108-48.448-108-108S196.449 40 256 40s108 48.448 108 108-48.449 108-108 108z" />
				</svg>
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 208.955 208.955">
					<path d="M190.85 200.227L178.135 58.626a7.5 7.5 0 00-7.47-6.829h-26.221V39.971c0-22.04-17.93-39.971-39.969-39.971-22.038 0-39.966 17.931-39.966 39.971v11.826H38.27a7.5 7.5 0 00-7.47 6.829L18.035 200.784a7.5 7.5 0 007.47 8.17h157.946a7.5 7.5 0 007.399-8.727zM79.509 39.971c0-13.769 11.2-24.971 24.967-24.971 13.768 0 24.969 11.202 24.969 24.971v11.826H79.509V39.971zm-45.8 153.984L45.127 66.797h19.382v13.412a7.5 7.5 0 007.5 7.5 7.5 7.5 0 007.5-7.5V66.797h49.936v13.412a7.5 7.5 0 007.5 7.5 7.5 7.5 0 007.5-7.5V66.797h19.364l11.418 127.158H33.709z" />
				</svg>
			</div>
		</div>
		
		<div class="form-container">		
			<h3>	Family Doctor's Questionnaire Form 	</h3>
			<hr>
				<div class="row">
					<div class="col-50">
						<label class="levelAzure" for="claimNumber">Claim Number</label>
						<input type="text" th:field="${claim.claimNumber}" class="form-control mb-4 w-25" placeholder="Claim Number" readonly="true">
					</div>
					<div class="col-50">
						<label class="levelAzure" for="insuredName">Insured Preson name</label>
						<input type="text" th:field="${insurance.insuredName}"	class="form-control mb-4 w-25" placeholder="Insured Preson name" readonly="true">			 
					</div>
					<div class="col-50">
						<label class="levelAzure" for="insuranceCompany">Insured Company Name</label>
						<input type="text" th:field="${insurance.insuranceCompany}"	class="form-control mb-4 w-25" placeholder="Insured Company Name" readonly="true">
					</div>
				</div>
			<p class="text-decoration1"> * Fill below details </p>
		
			<form th:action="@{/familyDoctor/add}"	th:object="${familydrquestionnaire}" method="POST">
				<div class="row">
				<input type="hidden" th:field="${familydrquestionnaire.id}">
				<input type="hidden" th:field="${familydrquestionnaire.claim.claimNumber}">
				</div>
				
				<label style="margin-top: 2em; margin-left: 7em; color: azure;">
						<B> Dear, Sir Please specify whether patient is suffering from following illness? (please mention exact duration)</B>
				</label>
				<table>
					<tr>
						<th> Disease Name</th>
						<th> Is Diagnosed?</th>
						<th> Duration of Disease</th>
						<th> Treatment</th>
					</tr>
					<tr>
<!--					<td><label for="highBloodPressure">High blood Pressure</label></td>-->
						<td><label>High blood Pressure</label></td>
						<td>
							<select id="highBloodPressure" name="highBloodPressure">
							<option value="false">FALSE</option>
							<option value="true">TRUE</option>							
						</td>
						<td><input type="text" th:field="*{hbpSince}"	placeholder="High blood Pressure Since" >
						</td>
						<td><input type="text" th:field="*{hbpRx}" placeholder="High blood Pressure Rx">								
						</td>
					</tr>
					<tr>
						<td><label for="diabetesMellitus">Diabetes Mellitus</label></td>
						<td>
							<select id="diabetesMellitus" name="diabetesMellitus">
							<option value="false">FALSE</option>		 
							<option value="true">TRUE</option>
						</td>
						<td>
							<input type="text" th:field="*{diabetesSince}"	placeholder="Diabetes Mellitus Since">
						</td>
						<td>
							<input type="text" th:field="*{diabetesRx}"	placeholder="Diabetes Mellitus Rx">
						</td>
					</tr>
					<tr>
						<td><label for="respiratoryIllness">Respiratory-Illness</label></td>
						<td>
							<select id="respiratoryIllness" name="respiratoryIllness">
							<option value="false">FALSE</option>		 
							<option value="true">TRUE</option>
						</td>
						<td>
							<input type="text" th:field="*{riSince}"	placeholder="Respiratory-Illness Since">	 
						</td>
						<td>
							<input type="text" th:field="*{riRx}"	placeholder="Respiratory-Illness Rx">
						</td>
					</tr>
					<tr>
						<td><label for="heartDisease">Heart Disease</label></td>
						<td>
							<select id="heartDisease" name="Heart Disease">
							<option value="false">FALSE</option>		 
							<option value="true">TRUE</option>
						</td>
						<td>
							<input type="text" th:field="*{heartDiseaseSince}"	placeholder="Heart Disease Since">	 
						</td>
						<td>
							<input type="text" th:field="*{heartDiseaseRx}"	placeholder="Heart Disease Rx">
						</td>
					</tr>
				</table>

				<div class="row">
					<div class="col-50">
						<label class="levelAzure" for="queDate">Family Dr. Questionnare Date</label>					
						<input type="datetime-local" th:field="*{queDate}" placeholder="Questionnaire Date" required>
					</div>
					<div class="col-50">
						<label class="levelAzure" for="doctorName">Family Doctor Name</label>					
						<input type="text" th:field="*{doctorName}"	placeholder="Doctor Name" required>
					</div>
					<div class="col-50">
					</div>
				</div>
				<button type="submit" class="submit-btn">Save</button>			 
			</form>
		</div>
		<div class="line-sperater">		</div>
		<div class="centered-input">
			<input type="range" value="230" min="0" max="360" id="hue">
		</div>

		<script src="/js/script.js"></script>
		<section class="before-footer">
			<h2>About Us</h2>
			<p>As a claim investigation agency, we are dedicated to unraveling the truth and providing comprehensive investigative solutions. With a commitment to excellence, integrity, and thoroughness, we specialize in delivering accurate and timely results to meet the diverse needs of our clients.</p>
		</section>

		<footer>
			<p style="text-align: center;">&copy; 2023 My Home Page. All rights reserved.</p>
		</footer>
	</body>
</html>