<!DOCTYPE html>
<html  lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Family Doctor's Questionnaire Form</title>
		<link rel="stylesheet" type="text/css" href="/css/styles.css">

		<script>
			function toggleForm() {
				var form = document.getElementById("myForm");
				form.style.display = form.style.display === "none" ? "block" : "none";
			}
		</script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
	</head>
	<body>
		<header>

			<nav>
				<ul>
					<li><h1>Welcome to Nexus Health Care</h1></li>
					<li><a href="/home">Home</a></li>
					<li><a href="/about">About</a></li>
					<li><a href="/services">Services</a></li>
					<li><a href="#">Blogs</a></li>

					<li>
	                    <div class="header-right">
	                        <div class="header-btn">
<!--	                            <a href="/contact" class="btn" style="background-color: lightseagreen;">Get in touch</a>-->
	                            <a href="/showFormForContact" class="btn" style="background-color: lightseagreen;">Get in touch</a>
	                            
	                        </div>
	                    </div>
					</li>
				</ul>
			</nav>
		</header>
	<div class="container">
		
		<h3>	Family Doctor's Questionnaire Form 	</h3>
		<hr>
		
		<button onclick="toggleForm()">Show Form</button>
		<div id="myForm" class="form-container">
		
		<p class="h4 mb-4"> * Fill below details </p>
		
			<form action="#" th:action="@{/familyDoctorPage/add}"
						 th:object="${familydrquestionnaire}" method="POST">

					<!-- Add hidden form field to handle the update -->
					<!-- Hidden form field required for updates  This binds to the model attribute (Tell your app which employee to update) -->
	
					<input type="hidden" th:field="*{id}">
		
					<input type="text" th:field="*{claimNo}" class="form-control mb-4 w-25" placeholder="Claim Number">			 
					<input type="text" th:field="*{insuredPersonName}"	class="form-control mb-4 w-25" placeholder="Insured Preson name">			 
					<input type="text" th:field="*{insuredCompanyName}"	class="form-control mb-4 w-25" placeholder="Insured Company Name">
					
					<label><B> Dear, Sir Please specify whether patient is suffering from following illness? (please mention exact duration)</B></label>
					<table>
						<tr>
							<th> Disease Name</th>
							<th> Is Diagnosed?</th>
							<th> Duration of Disease</th>
							<th> Treatment</th>
						</tr>
						<tr>
<!--							<td><label for="highBloodPressure">High blood Pressure</label></td>-->
							<td><label>High blood Pressure</label></td>
							<td>
								<select id="highBloodPressure" name="highBloodPressure">
								<option value="false">FALSE</option>
								<option value="true">TRUE</option>							
							</td>
							<td><input type="text" th:field="*{hbpSince}"	placeholder="High blood Pressure Since" >
							</td>
							<td><input type="text" th:field="*{hbpRx}" placeholder="High blood Pressure Rx">								
							</td>
						</tr>
						<tr>
							<td><label for="diabetesMellitus">Diabetes Mellitus</label></td>
							<td>
								<select id="diabetesMellitus" name="diabetesMellitus">
								<option value="false">FALSE</option>		 
								<option value="true">TRUE</option>
							</td>
							<td>
								<input type="text" th:field="*{diabetesSince}"	placeholder="Diabetes Mellitus Since">
							</td>
							<td>
								<input type="text" th:field="*{diabetesRx}"	placeholder="Diabetes Mellitus Rx">
							</td>
						</tr>
						<tr>
							<td><label for="respiratoryIllness">Respiratory-Illness</label></td>
							<td>
								<select id="respiratoryIllness" name="respiratoryIllness">
								<option value="false">FALSE</option>		 
								<option value="true">TRUE</option>
							</td>
							<td>
								<input type="text" th:field="*{riSince}"	placeholder="Respiratory-Illness Since">	 
							</td>
							<td>
								<input type="text" th:field="*{riRx}"	placeholder="Respiratory-Illness Rx">
							</td>
						</tr>
						<tr>
							<td><label for="heartDisease">Heart Disease</label></td>
							<td>
								<select id="heartDisease" name="Heart Disease">
								<option value="false">FALSE</option>		 
								<option value="true">TRUE</option>
							</td>
						</tr>
				    </table>

<!--					<label for="heartDisease">Heart Disease</label>					-->
<!--					<input type="text" th:field="*{heartDisease}"	class="form-control mb-4 w-25" placeholder="Heart Disease">				    -->
				
					<div class="row">
						<div class="col-50">
							<label for="queDate">Family Dr. Questionnare Date</label>					
							<input type="datetime-local" th:field="*{queDate}"	class="form-control mb-4 w-25" placeholder="Questionnaire Date">
						</div>
						<div class="col-50">
							<label for="doctorName">Family Doctor Name</label>					
							<input type="text" th:field="*{doctorName}"	placeholder="Doctor Name">
						</div>
						<div class="col-50">
							<label for="caseType">Case Type</label>					
							<input type="text" th:field="*{caseType}" placeholder="Case Type">	
						</div>
					</div>
					
				<button type="submit" class="btn btn-info col-2">Save</button>			 
			</form>

			<hr>
			<a th:href="@{/home}">Goto to Home Page</a>
		</div>
		<div class="align-left">
			<img src="" class="profile" th:src="@{images/health.jfif}">
		</div>
		<h5>Click on below button to Upload a Document</h5>
<!--			<button onclick="toggleForm()">Upload Document</button>-->
<!--			<div id="myForm" class="form-container">-->
				<form method="POST" action="/api/documents/upload" enctype="multipart/form-data" >
<!--					<div class="row">
						<div class="col-50">
							<label for="fileName">File Name</label>					
							<input type="text" th:field="*{fileName}"	class="form-control mb-4 w-25" placeholder="File Name">
						</div>
						<div class="col-50">
							<label for="caseType">File Type</label>					
							<input type="text" th:field="*{caseType}"	class="form-control mb-4 w-25" placeholder="Case Type">	
						</div>
					</div>
-->					
					<input type="file" name="file" accept=".pdf,.doc,.docx,.txt">
					<br><br>
					<input type="submit" value="Upload">
				</form>
<!--			</div>-->
		<section>

			<h2>About Us</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin commodo justo et leo interdum, sed scelerisque est cursus. Fusce vel volutpat nunc, ut cursus ex. Nulla ac congue ex, eu finibus nunc.</p>
		</section>
		<footer>
			<p>&copy; 2023 Contact me. All rights reserved.</p>
		</footer>
	</body>
</html>