<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
	    <title>Login Page</title>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="/css/styles.css">
	</head>
	<body>
		<header>
			<nav>
				<ul>
					<li><h1>Welcome to Nexus Health Care</h1></li>
					<li><a href="/home">Home</a></li>
					<li><a href="/about">About</a></li>
					<li><a href="/service">Services</a></li>
					<li><a href="/showMyLoginPage">Login</a></li>
					<li>
	                    <div class="header-right">
	                        <div class="header-btn">
	                            <a href="/contactUs/form" class="btn" style="background-color: lightseagreen;">Get in touch</a>
	                        </div>
	                    </div>
					</li>
				</ul>
			</nav>
		</header>

		<!-- Login Form -->		
		<div class="login-box">
		  <h2>Login</h2>
		  <form th:action="@{/authenticateTheUser}" method="POST" class="form-horizontal">
			<div class="col-xs-15">
				<div>
					<!-- Check for login error -->
					<div th:if="${param.error}">
						<div class="alert alert-danger col-xs-offset-1 col-xs-10">
							Invalid username and password.
						</div>
					</div>
					<!-- Check for logout -->
					<div th:if="${param.logout}">
						<div class="alert alert-success col-xs-offset-1 col-xs-10">
							You have been logged out.
						</div>
					</div>
				</div>
			</div>
		    <div class="user-box">
				<!-- User name -->
				<input type="text" name="username" required="" >
				<label>Username</label>
		    </div>
		    <div class="user-box">
				<!-- Password -->
				<input type="password" name="password" required="" >
				<label>Password</label>
		    </div>
		    
		    <div style="margin-top: 10px" class="form-group">
				<div class="col-sm-6 controls">
					<button type="submit" class="btn btn-primary mt-3" font-size: medium;">Submit</button>
				</div>
			</div>
		    
			<a th:href="@{/register/showRegistrationForm}" class="btn btn-primary mt-3" role="button" aria-pressed="true">
		      <span></span>
		      <span></span>
		      <span></span>
		      <span></span>
		      Register New User
		    </a>
  </form>
</div>
	</body>
</html>