<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>My Home Page</title>
		<link rel="stylesheet" type="text/css" href="/css/styles.css">
	</head>
	<body>

		<div class="header">
			<a class="menu-icon" href="#">
				<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
				<h2> Nexus Health Care</h2>
			</a>
			<div class="header-menu">
				<a href="/home">Home</a>
				<a href="/about">About</a>
				<a href="/service">Services</a>
				<a href="/showMyLoginPage">Login</a>
				<a href="/contactUs/form">Contact</a>
			</div>
			<div class="header-icons">
				<!-- Search Icon -->
				<i class="fas fa-search"></i>
				<!-- Home Icon -->
				<i class="fas fa-home"></i>
				<!-- Shopping Icon -->
				<i class="fas fa-user"></i>
			</div>
		</div>
	    <div class="slideshow-container">
			<div class="mySlides fade">
				<img src="images/tech1.jfif" alt="Image 1" height="250" width="1520">
			</div>

			<div class="mySlides fade">
				<img src="images/tech2.jfif" alt="Image 2" height="250" width="1520">
			</div>
	
			<div class="mySlides fade">
				<img src="images/tech3.jfif" alt="Image 3" height="250" width="1520">
			</div>
			<div class="mySlides fade">
				<img src="images/tech4.jfif" alt="Image 4" height="250" width="1520">
			</div>
	        <!-- Add more slides as needed -->
	
	        <!-- Navigation buttons (optional) -->
	        <a class="prev" onclick="plusSlides(-1)" style="align-items: center;">&#10094;</a>
	        <a class="next" onclick="plusSlides(1)" style="align-items: center;">&#10095;</a>
	    </div>
<!--	<div>
						<p th:text="${smessage}" class="smessage"></p>
		</div>-->
		<div th:if="${message}">
	        <script th:inline="javascript">
				alert('{{message}}');
				window.location.href = '/home';
	        </script>
		</div>
		<div class="line-separator">		</div>

		<div class="gallery">
			<figure class="photo">
				<img src="https://images.unsplash.com/photo-1610042560883-3cab6606b805?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTMxODczNDB8&ixlib=rb-4.0.3&q=85" alt="Pink and blue clouds at sunset. " title="Photo by Jeremy Doddridge for Unsplash">
				<figcaption>8 PM, Summer</figcaption>
			</figure>
			<figure class="photo">
				<img src="https://images.unsplash.com/photo-1566228015668-4c45dbc4e2f5?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTMxODczNDB8&ixlib=rb-4.0.3&q=85" alt="Low angle view up into a sky filled with deep blue clouds. " title="Photo by Matthew Brayer for Unsplash">
				<figcaption>3 PM, Winter</figcaption>
			</figure>
			<figure class="photo">
				<img th:src="@{images/health.jfif}" alt="Heavy gray clouds in the sky. " title="Photo by Simeon Muller for Unsplash">
				<figcaption>10 AM, Summer Storm</figcaption>
			</figure>
			<figure class="photo">
				<img src="https://images.unsplash.com/photo-1509114397022-ed747cca3f65?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTMxODc1Mjl8&ixlib=rb-4.0.3&q=85" alt="Deep orange clouds at sunset. " title="Photo by Laura Vinck for Unsplash">
				<figcaption>5 PM, Autumn</figcaption>
			</figure>
			<figure class="photo">
				<img src="https://images.unsplash.com/photo-1583506140156-6e343f045b81?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTMxODc1OTV8&ixlib=rb-4.0.3&q=85" alt="Clouds in shades of dark blue and magenta at sunset. " title="Photo by Szabo Viktor for Unsplash">
				<figcaption>7 PM, Spring</figcaption>
			</figure>
			<figure class="photo">
				<div>
					<li><a href="/report">Reports</a></li>
					<li><a href="/admin">Admin</a></li>
					<figcaption>Link</figcaption>
				</div>
			</figure>
		</div>
		
		<div class="line-separator">		</div>

	    <div class="container1">
	        <div class="menu">
				<ul>
					<li><a href="/insured/questionnaireForm" data-content="section1"> Menu</a></li>
					<li><a href="/familyDoctor/show" data-content="section2"> Our Mission</a></li>
					<li><a href="/treatingDoctor/show" data-content="section3"> Our Vission</a></li>
				</ul>
			</div>
	        <div class="main-content">
	            <section id="section1">
	                <h1>Menu Option 1 Content</h1>
					<p>This is the content for Menu Option 1.</p>
				</section>
				<section id="section2">
					<h1>Our Mission</h1>
					<p>Our mission is to set a strong foundation of trust and enhance our customers’ experience a notch up. We believe in putting our best foot forward to deliver our promise of being the best background verification company there is. </p>
				</section>
				<section id="section3">
					<h1>Our Vision</h1>
					<p>Our vision is to make sure our customers get best-in-class services every time, and that we do our due diligence in the most accurate and error-free manner.</p>
				</section>
			</div>
		</div>
		<div class="line-separator">		</div>
		<div class="centered-input">
			<input type="range" value="230" min="0" max="360" id="hue">
	    </div>

		<script src="/js/script.js"></script>
		<section class="before-footer">
			<h2>About Us</h2>
			<p>As a claim investigation agency, we are dedicated to unraveling the truth and providing comprehensive investigative solutions. With a commitment to excellence, integrity, and thoroughness, we specialize in delivering accurate and timely results to meet the diverse needs of our clients.</p>
		</section>
		<footer>
			<p style="text-align: center;">&copy; <span id="year"></span> Nexus Health Care. All rights reserved.</p>
		</footer>
		<script>
			document.getElementById('year').textContent = new Date().getFullYear();
		</script>
	</body>
</html>