<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Insured Questionnaire Form</title>
		<link rel="stylesheet" type="text/css" href="/css/styles.css">
		
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script>
			function toggleForm() {
				var form = document.getElementById("myForm");
				form.style.display = form.style.display === "none" ? "block" : "none";
			}
		</script>
	</head>
	<body>
		<div class="header">
			<a class="menu-icon" href="#">
				<svg fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
				</svg>
				<h2> Nexus Health Care</h2>
			</a>
			<div class="header-menu">
				<a href="/home">Home</a>
				<a href="/about">About</a>
				<a href="/service">Services</a>
				<a href="/showMyLoginPage">Login</a>
				<a href="/contactUs/form">Contact</a>
			</div>
			<div class="header-icons">
				<svg fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
				</svg>
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
					<path d="M437.02 330.98c-27.883-27.882-61.071-48.523-97.281-61.018C378.521 243.251 404 198.548 404 148 404 66.393 337.607 0 256 0S108 66.393 108 148c0 50.548 25.479 95.251 64.262 121.962-36.21 12.495-69.398 33.136-97.281 61.018C26.629 379.333 0 443.62 0 512h40c0-119.103 96.897-216 216-216s216 96.897 216 216h40c0-68.38-26.629-132.667-74.98-181.02zM256 256c-59.551 0-108-48.448-108-108S196.449 40 256 40s108 48.448 108 108-48.449 108-108 108z" />
				</svg>
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 208.955 208.955">
					<path d="M190.85 200.227L178.135 58.626a7.5 7.5 0 00-7.47-6.829h-26.221V39.971c0-22.04-17.93-39.971-39.969-39.971-22.038 0-39.966 17.931-39.966 39.971v11.826H38.27a7.5 7.5 0 00-7.47 6.829L18.035 200.784a7.5 7.5 0 007.47 8.17h157.946a7.5 7.5 0 007.399-8.727zM79.509 39.971c0-13.769 11.2-24.971 24.967-24.971 13.768 0 24.969 11.202 24.969 24.971v11.826H79.509V39.971zm-45.8 153.984L45.127 66.797h19.382v13.412a7.5 7.5 0 007.5 7.5 7.5 7.5 0 007.5-7.5V66.797h49.936v13.412a7.5 7.5 0 007.5 7.5 7.5 7.5 0 007.5-7.5V66.797h19.364l11.418 127.158H33.709z" />
				</svg>
			</div>
		</div>

		<div th:if="${message}">
	        <script th:inline="javascript">
	            alert([[$,{message}]]);
	            window.location.href = '/insured/questionnaireForm';
	        </script>
	    </div>

		<div class="form-container">
			<h2><center>Insured Questionnaire Form	</center></h2>
			<br>
			<hr>
			<div class="row">
				<div class="col-50">
					<label class="levelAzure" for="claimNumber">Claim Number</label>
					<input type="text" th:field="${claim.claimNumber}" class="form-control mb-4 w-25" placeholder="Claim Number" readonly="true">
				</div>
				<div class="col-50">
					<label class="levelAzure" for="insuredName">Insured Preson name</label>
					<input type="text" th:field="*{insurance.insuredName}"	class="form-control mb-4 w-25" placeholder="Insured Preson name" readonly="true">			 
				</div>
				<div class="col-50">
					<label class="levelAzure" for="insuranceCompany">Insured Company Name</label>
					<input type="text" th:field="${insurance.insuranceCompany}"	class="form-control mb-4 w-25" placeholder="Insured Company Name" readonly="true">
				</div>
			</div>
			<br>
	 		<label class="text-decoration1"> * Fill below details:- </label>
				<form th:action="@{/insured/add}" th:object="${insuredQuestionnaire}" method="POST">
					<input type="hidden" th:field="${insuredQuestionnaire.id}">
					<input type="hidden" th:field="${insuredQuestionnaire.claim.claimNumber}">

					<div class="row">
						<div class="col-50">
							<label class="levelAzure" for="hospitalName">Hospital Name</label>
							<input type="text" th:field="*{hospitalName}"	class="form-control mb-4 w-25" placeholder="Hospital Name">
						</div>
						<div class="col-50">
							<label class="levelAzure" for="chiefComplained">Chief Complained</label>
							<input type="text" th:field="*{chiefComplained}"	class="form-control mb-4 w-25" placeholder="Chief Complained">
						</div>
						<div class="col-50">
							<label class="levelAzure" for="complaintsDuration">Complaints Duration</label>
							<input type="text" th:field="*{complaintsDuration}"	class="form-control mb-4 w-25" placeholder="Complaints Duration">
						</div>
					</div>
					<div class="row">
						<div class="col-50">
							<label class="levelAzure" for="identityProof">Identity Proof</label>
							<input type="text" th:field="*{identityProof}"	class="form-control mb-4 w-25" placeholder="Identity Proof">
						</div>
						<div class="col-50">
							<label class="levelAzure" for="testsBeforeOrDuringHospitalization">Tests Before/During Hospitalization</label>
							<input type="text" th:field="*{testsBeforeOrDuringHospitalization}"	class="form-control mb-4 w-25" placeholder="Tests During Hospitalization">
						</div>
						<div class="col-50">
							<label class="levelAzure" for="admissionDateTime">Exact Date Time of Admission</label>
							<input type="datetime-local" th:field="*{admissionDateTime}"	class="form-control mb-4 w-25" placeholder="Exact Date Time of Admission">
						</div>
					</div>
					<div class="row">
						<div class="col-50">
							<label class="levelAzure" for="roomRentPerDay">Room Rent Per Day</label>
<!--							<input type="text" th:field="*{roomRentPerDay}"	class="form-control mb-4 w-25" placeholder="Room Rent Per Day">-->
								<select id="roomRentPerDay" th:field="*{roomRentPerDay}" required>
		                            <option value="">SELECT</option>
		                            <option value="500" th:selected="*{roomRentPerDay == '500'}">less than 500</option>
		                            <option value="1000" th:selected="*{roomRentPerDay == '1000'}">500-1000</option>
		                            <option value="1500" th:selected="*{roomRentPerDay == '1500'}">1000-2000</option>
		                            <option value="2000" th:selected="*{roomRentPerDay == '2000'}">2000+</option>
		                        </select>

						</div>
						<div class="col-50">
							<label class="levelAzure" for="roomType">Room Type</label>
<!--							<input type="text" th:field="*{roomType}"	class="form-control mb-4 w-25" placeholder="Room Type">-->
		                        <select id="roomType" th:field="*{roomType}" required>
		                            <option value="">SELECT</option>
		                            <option value="normal" th:selected="*{roomType == 'normal'}">Normal</option>
		                            <option value="delux" th:selected="*{roomType == 'delux'}">Delux</option>
		                            <option value="superdelux" th:selected="*{roomType == 'superdelux'}">SuperDelux</option>
		                            <option value="special" th:selected="*{roomType == 'special'}">Special</option>
		                        </select>
						</div>
						<div class="col-50">
							<label class="levelAzure" for="highBloodPressure">Estimated Hospital Bill</label>
							<input type="text" th:field="*{estimatedHospitalBill}"	class="form-control mb-4 w-25" placeholder="Estimated Hospital Bill">
						</div>
					</div>
					<br>
					<label style="margin-top: 2em; margin-left: 5em; color: azure;">
						<B> Dear, Sir Please specify whether patient is suffering from following illness? (please mention exact duration)</B>
					</label>
					<table>
						<tr>
							<th> Disease Name</th>
							<th> Is Diagnosed?</th>
							<th> Duration of Disease</th>
							<th> Treatment</th>
						</tr>
						<tr>
		                    <td><label for="highBloodPressure">High blood Pressure</label></td>
		                    <td>
		                        <select id="highBloodPressure" th:field="*{highBloodPressure}" required>
		                            <option value="">SELECT</option>
		                            <option value="false" th:selected="*{highBloodPressure == 'false'}">FALSE</option>
		                            <option value="true" th:selected="*{highBloodPressure == 'true'}">TRUE</option>
		                        </select>
		                    </td>
							
							<td>
								<input type="text" th:field="*{hbpDuration}" placeholder="High blood Pressure Duration">
							</td>
							<td>
								<input type="text" th:field="*{hbpDrugName}" placeholder="High blood Pressure Duration" >
							</td>
						</tr>
						<tr>

		                    <td><label for="diabetesMellitus">Diabetes Mellitus</label></td>
		                    <td>
		                        <select id="diabetesMellitus" th:field="*{diabetesMellitus}" required>
		                            <option value="">SELECT</option>
		                            <option value="false" th:selected="*{diabetesMellitus == 'false'}">FALSE</option>
		                            <option value="true" th:selected="*{diabetesMellitus == 'true'}">TRUE</option>
		                        </select>
		                    </td>
							<td>
							<input type="text" th:field="*{dmDrugName}"	placeholder="Diabetes Mellitus  Drug Name">
							</td>
							<td>
								<input type="text" th:field="*{dmDuration}" placeholder="Diabetes Mellitus Duration" >
							</td>
						</tr>
						<tr>
							<td><label for="anyHeartDisease">Any Heart Disease</label></td>
							<td>
								<select id="anyHeartDisease" th:field="*{anyHeartDisease}" required>
									<option value="">SELECT</option>
									<option value="false" th:selected="*{anyHeartDisease == 'false'}">FALSE</option>
									<option value="true" th:selected="*{anyHeartDisease == 'true'}">TRUE</option>
								</select>							
							</td>
							<td>
							<input type="text" th:field="*{hdDrugName}"	placeholder="Heart Disease Drug Name">
							</td>
							<td>
								<input type="text" th:field="*{hdDuration}" placeholder="Heart Disease Duration" >
							</td>
						</tr>
						<tr>
							<td><label for="anyLiverDisease">Any Liver Disease</label></td>
							<td>
								<select id="anyLiverDisease" th:field="*{anyLiverDisease}" required>
									<option value="">SELECT</option>
									<option value="false" th:selected="*{anyLiverDisease == 'false'}">FALSE</option>
									<option value="true" th:selected="*{anyLiverDisease == 'true'}">TRUE</option>
								</select>							
							</td>
							<td>
							<input type="text" th:field="*{liverDiseaseDrugName}"	placeholder="Liver Disease Drug Name">
							</td>
							<td>
								<input type="text" th:field="*{liverDiseaseDuration}" placeholder="Liver Disease Duration" >
							</td>
						</tr>
						<tr>
							<td><label for="kidneyDisease">Any Kidney Disease</label></td>
							<td>
								<select id="kidneyDisease" th:field="*{kidneyDisease}" required>
									<option value="">SELECT</option>
									<option value="false" th:selected="*{kidneyDisease == 'false'}">FALSE</option>
									<option value="true" th:selected="*{kidneyDisease == 'true'}">TRUE</option>
								</select>							
							</td>
							<td>
							<input type="text" th:field="*{kidneyDrugName}"	placeholder="Kidney Disease Drug Name">
							</td>
							<td>
								<input type="text" th:field="*{kdDuration}" placeholder="Kidney Disease Duration" >
							</td>
						</tr>
						<tr>
							<td><label for="neurologicalDisease"> Neurological Disease</label></td>
							<td>
								<select id="neurologicalDisease" th:field="*{neurologicalDisease}" required>
									<option value="">SELECT</option>
									<option value="false" th:selected="*{neurologicalDisease == 'false'}">FALSE</option>
									<option value="true" th:selected="*{neurologicalDisease == 'true'}">TRUE</option>
								</select>							
							</td>
							<td>
							<input type="text" th:field="*{neurologicalDiseaseDrugName}"	placeholder="Neurological Disease Drug Name">
							</td>
							<td>
								<input type="text" th:field="*{neurologicalDiseaseDuration}" placeholder="Neurological Disease Duration" >
							</td>
						</tr>
						<tr>
							<td><label for="cancer"> Cancer </label></td>
							<td>
								<select id="cancer" th:field="*{cancer}" required>
									<option value="">SELECT</option>
									<option value="false" th:selected="*{cancer == 'false'}">FALSE</option>
									<option value="true" th:selected="*{cancer == 'true'}">TRUE</option>
								</select>							
							</td>
							<td>
							<input type="text" th:field="*{cancerDrugName}"	placeholder=" Cancer Drug Name">
							</td>
							<td>
								<input type="text" th:field="*{cancerDuration}" placeholder=" Cancer Duration" >
							</td>
						</tr>
						<tr>
							<td><label for="respiratoryIllness"> Respiratory Illness </label></td>
							<td>
								<select id="respiratoryIllness" th:field="*{respiratoryIllness}" required>
									<option value="">SELECT</option>
									<option value="false" th:selected="*{respiratoryIllness == 'false'}">FALSE</option>
									<option value="true" th:selected="*{respiratoryIllness == 'true'}">TRUE</option>
								</select>							
							</td>
							<td>
							<input type="text" th:field="*{respiratoryIllnessDrugName}"	placeholder=" Respiratory Illness Drug Name">
							</td>
							<td>
								<input type="text" th:field="*{respiratoryIllnessDuration}" placeholder=" Respiratory Illness Duration" >
							</td>
						</tr>
						<tr>
							<td><label for="arthritis"> Arthritis </label></td>
							<td>
								<select id="arthritis" th:field="*{arthritis}" required>
									<option value="">SELECT</option>
									<option value="false" th:selected="*{arthritis == 'false'}">FALSE</option>
									<option value="true" th:selected="*{arthritis == 'true'}">TRUE</option>
								</select>							
							</td>
							<td>
							<input type="text" th:field="*{arthritisDrugName}"	placeholder=" Arthritis Drug Name">
							</td>
							<td>
								<input type="text" th:field="*{arthritisDuration}" placeholder=" Arthritis Duration" >
							</td>
						</tr>
						<tr>
							<td><label for="anyMajorDisease"> Any Major Disease </label></td>
							<td>
								<select id="anyMajorDisease" th:field="*{anyMajorDisease}" required>
									<option value="">SELECT</option>
									<option value="false" th:selected="*{anyMajorDisease == 'false'}">FALSE</option>
									<option value="true" th:selected="*{anyMajorDisease == 'true'}">TRUE</option>
								</select>							
							</td>
							<td>
							<input type="text" th:field="*{diseaseDrugName}"	placeholder=" Disease Drug Name">
							</td>
							<td>
								<input type="text" th:field="*{diseaseDuration}" placeholder=" Disease Duration" >
							</td>
						</tr>
					</table>
					<div class="row">
						<div class="col-50">
							<label class="levelAzure" for="alcoholSmokingTobacco">Alcohol Smoking/Tobacco ?</label>
<!--							<input type="text" th:field="*{alcoholSmokingTobacco}"	class="form-control mb-4 w-25" placeholder="Alcohol Smoking/Tobacco ?">-->
								<select id="alcoholSmokingTobacco" th:field="*{alcoholSmokingTobacco}" required>
		                            <option value="">SELECT</option>
		                            <option value="false" th:selected="*{alcoholSmokingTobacco == 'false'}">YES</option>
		                            <option value="true" th:selected="*{alcoholSmokingTobacco == 'true'}">NO</option>
		                        </select>

						</div>
						<div class="col-50">
							<label class="levelAzure" for="diagnosisAsPerDoctor">Diagnosis As Per Doctor</label>
							<input type="text" th:field="*{diagnosisAsPerDoctor}"	class="form-control mb-4 w-25" placeholder="Diagnosis As Per Doctor">
						</div>
						<div class="col-50">
							<label class="levelAzure" for="dischargeDateTime">Exact Discharge Date Time</label>
							<input type="datetime-local" th:field="*{dischargeDateTime}"	class="form-control mb-4 w-25" placeholder="Exact Discharge Date Time">
						</div>
					</div>
					
					<div class="row">
						<div class="col-50">
							<label class="levelAzure" for="questionnaireDate">Questionnaire Date</label>
							<input type="datetime-local" th:field="*{questionnaireDate}"	class="form-control mb-4 w-25" placeholder="Questionnaire Date">
						</div>
						<div class="col-50">
							<label class="levelAzure" for="jobDetails">What is your Job details?</label>					
							<input type="text" th:field="*{jobDetails}"	class="form-control mb-4 w-25" placeholder="Your Job Details">
						</div>
						<div class="col-50">
							<label class="levelAzure" for="description">Description</label>					
							<input type="text" th:field="*{description}"	class="form-control mb-4 w-25" placeholder="Description">
						</div>
					</div>
				<button type="submit" class="submit-btn">Save</button>			 
			</form>
		</div>
		
		<div class="line-separator">		</div>
		<div class="centered-input">
			<input type="range" value="230" min="0" max="360" id="hue">
	    </div>

		<script src="/js/script.js"></script>
		<section class="before-footer">
			<h2>About Us</h2>
			<p>As a claim investigation agency, we are dedicated to unraveling the truth and providing comprehensive investigative solutions. With a commitment to excellence, integrity, and thoroughness, we specialize in delivering accurate and timely results to meet the diverse needs of our clients.</p>
		</section>

		<footer>
			<p style="text-align: center;">&copy; <span id="year"></span> Nexus Health Care. All rights reserved.</p>
		</footer>
		<script>
			document.getElementById('year').textContent = new Date().getFullYear();
		</script>
	</body>
</html>