<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Insured Questionnaire Form</title>
		<link rel="stylesheet" type="text/css" href="/css/styles.css">
		
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script>
			function toggleForm() {
				var form = document.getElementById("myForm");
				form.style.display = form.style.display === "none" ? "block" : "none";
			}
		</script>

	</head>

	<body>

		<div class="header">
			<a class="menu-icon" href="#">
				<svg fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
				</svg>
				<h2> Nexus Health Care</h2>
			</a>
			<div class="header-menu">
				<a href="/home">Home</a>
				<a href="/about">About</a>
				<a href="/service">Services</a>
				<a href="/showMyLoginPage">Login</a>
				<a href="/contactUs/form">Contact</a>
			</div>
<!--			<div class="header-right">
				<div class="header-btn">
					<a href="/contactUs/form" class="btn" style="background-color: lightseagreen;">Contact</a>
				</div>
			</div>
-->
			<div class="header-icons">
				<svg fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
				</svg>
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
					<path d="M437.02 330.98c-27.883-27.882-61.071-48.523-97.281-61.018C378.521 243.251 404 198.548 404 148 404 66.393 337.607 0 256 0S108 66.393 108 148c0 50.548 25.479 95.251 64.262 121.962-36.21 12.495-69.398 33.136-97.281 61.018C26.629 379.333 0 443.62 0 512h40c0-119.103 96.897-216 216-216s216 96.897 216 216h40c0-68.38-26.629-132.667-74.98-181.02zM256 256c-59.551 0-108-48.448-108-108S196.449 40 256 40s108 48.448 108 108-48.449 108-108 108z" />
				</svg>
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 208.955 208.955">
					<path d="M190.85 200.227L178.135 58.626a7.5 7.5 0 00-7.47-6.829h-26.221V39.971c0-22.04-17.93-39.971-39.969-39.971-22.038 0-39.966 17.931-39.966 39.971v11.826H38.27a7.5 7.5 0 00-7.47 6.829L18.035 200.784a7.5 7.5 0 007.47 8.17h157.946a7.5 7.5 0 007.399-8.727zM79.509 39.971c0-13.769 11.2-24.971 24.967-24.971 13.768 0 24.969 11.202 24.969 24.971v11.826H79.509V39.971zm-45.8 153.984L45.127 66.797h19.382v13.412a7.5 7.5 0 007.5 7.5 7.5 7.5 0 007.5-7.5V66.797h49.936v13.412a7.5 7.5 0 007.5 7.5 7.5 7.5 0 007.5-7.5V66.797h19.364l11.418 127.158H33.709z" />
				</svg>
			</div>
		</div>

			<div th:if="${message}">
		        <script th:inline="javascript">
		            alert([[${message}]]);
		            window.location.href = '/insured/questionnaireForm';
		        </script>
		    </div>

	<div class="form-container">
		<h2><center>Insured Questionnaire Form	</center></h2>
		<hr>
		<label class="text-decoration1"> * Fill below details:- </label>
			<form action="#" th:action="@{/insured/add}" th:object="${insuredQuestionnaire}" method="POST">

					<input type="hidden" th:field="*{id}">
					<div class="row">
						<div class="col-50">
							<label class="levelAzure" for="claimNumber">Claim Number</label>
							<input type="text" th:field="*{claimNumber}" class="form-control mb-4 w-25" placeholder="Claim Number">
						</div>
						<div class="col-50">
							<label class="levelAzure" for="insuredName">Insured Preson name</label>
							<input type="text" th:field="*{insuredName}"	class="form-control mb-4 w-25" placeholder="Insured Preson name">			 
						</div>
						<div class="col-50">
							<label class="levelAzure" for="insuranceCompany">Insured Company Name</label>
							<input type="text" th:field="*{insuranceCompany}"	class="form-control mb-4 w-25" placeholder="Insured Company Name">
						</div>
					</div>
					<div class="row">
						<div class="col-50">
							<label class="levelAzure" for="hospitalName">Hospital Name</label>
							<input type="text" th:field="*{hospitalName}"	class="form-control mb-4 w-25" placeholder="Hospital Name">
						</div>
						<div class="col-50">
							<label class="levelAzure" for="chiefComplained">Chief Complained</label>
							<input type="text" th:field="*{chiefComplained}"	class="form-control mb-4 w-25" placeholder="Chief Complained">
						</div>
						<div class="col-50">
							<label class="levelAzure" for="complaintsDuration">Complaints Duration</label>
							<input type="text" th:field="*{complaintsDuration}"	class="form-control mb-4 w-25" placeholder="Complaints Duration">
						</div>
					</div>
					<div class="row">
						<div class="col-50">
							<label class="levelAzure" for="highBloodPressure">Identity Proof</label>
							<input type="text" th:field="*{identityProof}"	class="form-control mb-4 w-25" placeholder="Identity Proof">
						</div>
						<div class="col-50">
							<label class="levelAzure" for="testsBeforeOrDuringHospitalization">Tests Before/During Hospitalization</label>
							<input type="text" th:field="*{testsBeforeOrDuringHospitalization}"	class="form-control mb-4 w-25" placeholder="Tests During Hospitalization">
						</div>
						<div class="col-50">
							<label class="levelAzure" for="admissionDateTime">Exact Date Time of Admission</label>
							<input type="datetime-local" th:field="*{admissionDateTime}"	class="form-control mb-4 w-25" placeholder="Exact Date Time of Admission">
						</div>
					</div>
					<div class="row">
						<div class="col-50">
							<label class="levelAzure" for="highBloodPressure">Room Rent Per Day</label>
							<input type="text" th:field="*{roomRentPerDay}"	class="form-control mb-4 w-25" placeholder="Room Rent Per Day">
						</div>
						<div class="col-50">
							<label class="levelAzure" for="highBloodPressure">Room Type</label>
							<input type="text" th:field="*{roomType}"	class="form-control mb-4 w-25" placeholder="Room Type">
						</div>
						<div class="col-50">
							<label class="levelAzure" for="highBloodPressure">Estimated Hospital Bill</label>
							<input type="text" th:field="*{estimatedHospitalBill}"	class="form-control mb-4 w-25" placeholder="Estimated Hospital Bill">
						</div>
					</div>
					<br><hr>
					<label class="text-decoration1">Kindly select drop-down of Diagnosed 'Disease Name'-</label>
					<div class="row">
						<div class="col-50">
							<label class="levelAzure">Disease Name</label>
						</div>
						<div class="col-50">
							<label class="levelAzure">Duration of Disease</label>
						</div>
						<div class="col-50">
							<label class="levelAzure">Treatment</label>
						</div>
					</div>					
					<div class="row">
						<div class="col-50">
							<label for="highBloodPressure">High blood Pressure</label>
							<select id="highBloodPressure" name="highBloodPressure">
							<option value="false">FALSE</option>
							<option value="true">TRUE</option>
						</div>
						<div class="col-50">
							<label for="hbpDuration">High blood Pressure Duration</label>
							<input type="text" th:field="*{hbpDuration}"	class="form-control mb-4 w-25" placeholder="High blood Pressure Duration">
						</div>
						<div class="col-50">
							<label for="hbpDrugName">High blood Pressure Drug Name</label>
							<input type="text" th:field="*{hbpDrugName}"	class="form-control mb-4 w-25" placeholder="High blood Pressure Drug Name" >
						</div>
					</div>
					<div class="row">
						<div class="col-50">
							<label for="hbpDrugName">High blood Pressure Drug Name</label>
							<input type="text" th:field="*{hbpDrugName}"	class="form-control mb-4 w-25" placeholder="High blood Pressure Drug Name" aria-colspan="30">
						</div>
						<div class="col-50">
							<label for="hbpDuration">High blood Pressure Duration</label>
							<input type="text" th:field="*{hbpDuration}"	class="form-control mb-4 w-25" placeholder="High blood Pressure Duration">
						</div>
					</div>
					<div class="row">
						<div class="col-50">
							<label for="diabetesMellitus">Diabetes Mellitus</label>
							<select id="diabetesMellitus" name="diabetesMellitus">
							<option value="false">FALSE</option>		 
							<option value="true">TRUE</option>
						</div>
					</div>
					<div class="row">
						<div class="col-50">
							<label for="dmDrugName">Diabetes Mellitus  Drug Name</label>
							<input type="text" th:field="*{dmDrugName}"	class="form-control mb-4 w-25" placeholder="Diabetes Mellitus  Drug Name">
						</div>
						<div class="col-50">
							<label for="dmDuration">Diabetes Mellitus Duration</label>
							<input type="text" th:field="*{dmDuration}"		class="form-control mb-4 w-25" placeholder="Diabetes Mellitus Duration">
						</div>
					</div>
					
					<div class="row">
						<div class="col-50">
							<label for="anyHeartDisease">Any Heart Disease</label>
							<select id="anyHeartDisease" name="anyHeartDisease">
							<option value="false">FALSE</option>		 
							<option value="true">TRUE</option>
						</div>
					</div>
					<div class="row">
						<div class="col-50">
							<label for="hdDrugName">Heart Disease Drug Name</label>
							<input type="text" th:field="*{hdDrugName}"	class="form-control mb-4 w-25" placeholder="Heart Disease Drug Name">			 
						</div>
						<div class="col-50">
							<label for="hdDuration">Heart Disease Duration</label>
							<input type="text" th:field="*{hdDuration}"	class="form-control mb-4 w-25" placeholder="Heart Disease Duration">
						</div>
					</div>
					<div class="row">
						<div class="col-50">
							<label for="anyLiverDisease">Any Liver Disease</label>
							<select id="anyLiverDisease" name="anyLiverDisease">
							<option value="false">FALSE</option>		 
							<option value="true">TRUE</option>
						</div>
					</div>
					<div class="row">
						<div class="col-50">
							<label for="liverDiseaseDrugName">Liver Disease Drug Name</label>
							<input type="text" th:field="*{liverDiseaseDrugName}"	class="form-control mb-4 w-25" placeholder="Liver Disease Drug Name">			 
						</div>
						<div class="col-50">
							<label for="liverDiseaseDuration">Liver Disease Duration</label>
							<input type="text" th:field="*{liverDiseaseDuration}"	class="form-control mb-4 w-25" placeholder="Liver Disease Duration">
						</div>
					</div>
					<div class="row">
						<div class="col-50">
							<label for="kidneyDisease">Any Kidney Disease</label>
							<select id="kidneyDisease" name="kidneyDisease">
							<option value="false">FALSE</option>		 
							<option value="true">TRUE</option>
						</div>
					</div>
					<div class="row">
						<div class="col-50">
							<label for="kidneyDrugName">Kidney Disease Drug Name</label>
							<input type="text" th:field="*{kidneyDrugName}"	class="form-control mb-4 w-25" placeholder="Kidney Disease Drug Name">			 
						</div>
						<div class="col-50">
							<label for="kdDuration">Kidney Disease Duration</label>
							<input type="text" th:field="*{kdDuration}"	class="form-control mb-4 w-25" placeholder="Kidney Disease Duration">
						</div>
					</div>
					<div class="row">
						<div class="col-50">
							<label for="neurologicalDisease">Neurological Disease</label>
							<select id="neurologicalDisease" name="neurologicalDisease">
							<option value="false">FALSE</option>		 
							<option value="true">TRUE</option>
						</div>
					</div>
					<div class="row">
						<div class="col-50">
							<label for="neurologicalDiseaseDrugName">Neurological Disease Drug Name</label>
							<input type="text" th:field="*{neurologicalDiseaseDrugName}"	class="form-control mb-4 w-25" placeholder="Neurological Disease Drug Name">			 
						</div>
						<div class="col-50">
							<label for="neurologicalDiseaseDuration">Neurological Disease Duration</label>
							<input type="text" th:field="*{neurologicalDiseaseDuration}"	class="form-control mb-4 w-25" placeholder="Neurological Disease Duration">
						</div>
					</div>
					<div class="row">
						<div class="col-50">
							<label for="cancer">Cancer</label>
							<select id="cancer" name="cancer">
							<option value="false">FALSE</option>		 
							<option value="true">TRUE</option>
						</div>
					</div>
					<div class="row">
						<div class="col-50">
							<label for="cancerDrugName">Cancer Drug Name</label>
							<input type="text" th:field="*{cancerDrugName}"	class="form-control mb-4 w-25" placeholder="Cancer Drug Name">			 
						</div>
						<div class="col-50">
							<label for="cancerDuration">Cancer Duration</label>
							<input type="text" th:field="*{cancerDuration}"	class="form-control mb-4 w-25" placeholder="Cancer Duration">
						</div>
					</div>
					<div class="row">
						<div class="col-50">
							<label for="respiratoryIllness">Respiratory Illness</label>
							<select id="respiratoryIllness" name="respiratoryIllness">
							<option value="false">FALSE</option>		 
							<option value="true">TRUE</option>
						</div>
					</div>
					<div class="row">
						<div class="col-50">
							<label for="respiratoryIllnessDrugName">Respiratory Illness Drug Name</label>
							<input type="text" th:field="*{respiratoryIllnessDrugName}"	class="form-control mb-4 w-25" placeholder="Respiratory Illness Drug Name">			 
						</div>
						<div class="col-50">
							<label for="respiratoryIllnessDuration">Respiratory Illness Duration</label>
							<input type="text" th:field="*{respiratoryIllnessDuration}"	class="form-control mb-4 w-25" placeholder="Respiratory Illness Duration">
						</div>
					</div>
					<div class="row">
						<div class="col-50">
							<label for="arthritis">Arthritis</label>
							<select id="arthritis" name="arthritis">
							<option value="false">FALSE</option>		 
							<option value="true">TRUE</option>
						</div>
					</div>
					<div class="row">
						<div class="col-50">
							<label for="arthritisDrugName">Arthritis Drug Name</label>
							<input type="text" th:field="*{arthritisDrugName}"	class="form-control mb-4 w-25" placeholder="Arthritis Drug Name">			 
						</div>
						<div class="col-50">
							<label for="arthritisDuration">Arthritis Duration</label>
							<input type="text" th:field="*{arthritisDuration}"	class="form-control mb-4 w-25" placeholder="Arthritis Duration">
						</div>
					</div>
					<div class="row">
						<div class="col-50">
							<label for="anyMajorDisease">Any Major Disease</label>
							<select id="anyMajorDisease" name="arthritis">
							<option value="false">FALSE</option>		 
							<option value="true">TRUE</option>
						</div>
					</div>
					<div class="row">
						<div class="col-50">
							<label for="diseaseDrugName">Disease Drug Name</label>
							<input type="text" th:field="*{diseaseDrugName}"	class="form-control mb-4 w-25" placeholder="Disease Drug Name">			 
						</div>
						<div class="col-50">
							<label for="diseaseDuration">Disease Duration</label>
							<input type="text" th:field="*{diseaseDuration}"	class="form-control mb-4 w-25" placeholder="Disease Duration">
						</div>
					</div>
					
					<div class="row">
						<div class="col-50">
							<label class="levelAzure" for="alcoholSmokingTobacco">Alcohol Smoking/Tobacco ?</label>
							<input type="text" th:field="*{alcoholSmokingTobacco}"	class="form-control mb-4 w-25" placeholder="Alcohol Smoking/Tobacco ?">
						</div>
						<div class="col-50">
							<label class="levelAzure" for="diagnosisAsPerDoctor">Diagnosis As Per Doctor</label>
							<input type="text" th:field="*{diagnosisAsPerDoctor}"	class="form-control mb-4 w-25" placeholder="Diagnosis As Per Doctor">
						</div>
						<div class="col-50">
							<label class="levelAzure" for="dischargeDateTime">Exact Discharge Date Time</label>
							<input type="datetime-local" th:field="*{dischargeDateTime}"	class="form-control mb-4 w-25" placeholder="Exact Discharge Date Time">
						</div>
					</div>
					
					<div class="row">
						<div class="col-50">
							<label class="levelAzure" for="questionnaireDate">Questionnaire Date</label>
							<input type="datetime-local" th:field="*{questionnaireDate}"	class="form-control mb-4 w-25" placeholder="Questionnaire Date">
						</div>
						<div class="col-50">
							<label class="levelAzure" for="jobDetails">What is your Job details?</label>					
							<input type="text" th:field="*{jobDetails}"	class="form-control mb-4 w-25" placeholder="Your Job Details">
						</div>
						<div class="col-50">
							<label class="levelAzure" for="description">Description</label>					
							<input type="text" th:field="*{description}"	class="form-control mb-4 w-25" placeholder="Description">
						</div>
					</div>
				<button type="submit" class="save-button">Save</button>			 
			</form>
		</div>
		
		<div class="line-sperater">		</div>
		<div class="centered-input">
			<input type="range" value="230" min="0" max="360" id="hue">
	    </div>

		<script src="/js/script.js"></script>
		<section>
			<h2>About Us</h2>
			<p>As a claim investigation agency, we are dedicated to unraveling the truth and providing comprehensive investigative solutions. With a commitment to excellence, integrity, and thoroughness, we specialize in delivering accurate and timely results to meet the diverse needs of our clients.</p>
		</section>

		<footer>
			<p style="text-align: center;">&copy; 2023 My Home Page. All rights reserved.</p>
		</footer>
	</body>
</html>