<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Monthly Insurance Chart</title>
		<!-- Add any necessary CSS stylesheets here -->
		<link rel="stylesheet" type="text/css" href="/css/styles.css">
	</head>
	<body>
		<div class="header">
		<a class="menu-icon" href="#">
				<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
			<h2> Nexus Health Care</h2>
		</a>
		<div class="header-menu">
			<a href="/home">Home</a>
			<a href="/about">About</a>
			<a href="/service">Services</a>
			<a href="/showMyLoginPage">Login</a>
			<a href="/contactUs/form">Contact</a>
			</div>
			<div class="header-icons">
				<!-- Search Icon -->
				<i class="fas fa-search"></i>
				<!-- Home Icon -->
				<i class="fas fa-home"></i>
				<!-- Shopping Icon -->
				<i class="fas fa-user"></i>
			</div>
		</div>
		<div class="container1">

			<div class="scoreboard">
				<ol>
					<li style="background-color: steelblue;"><h2>Charts</h2></li>
					<li style="--i: 1">
						<a href="/monthlyInsuranceChart"><B> Monthly Insurance Chart </B></a>
					</li>
					<li style="--i: 2">
						<a href="/pie-chart"><b>All Cases pie Chart</b></a>
			    	</li>
					<li style="--i: 1">
						<a href="/companyChart"><B> Company Insurance Chart </B></a>
					</li>
					<li style="--i: 2">
						<a href="/insuranceclaim/show/all"><b>All Cases</b></a>
			    	</li>
					<li style="--i: 1">
						<a href="/report"><b>Reports</b></a>
					</li>
				</ol>
			</div>
			
			<div class="chart-container">
				<h1	style="margin-left: 30%;">Monthly Insurance Chart</h1>
				<div class="line-separator" style="margin-left: 25%; margin-right: 25%;">	</div>
			    <div th:if="${chartBase64}">
			        <img th:src="'data:image/png;base64,' + ${chartBase64}" alt="Monthly Insurance Chart"/>
			    </div>
			    <div th:unless="${chartBase64}">
			        <p>No data available to generate the chart.</p>
			    </div>
			    <!-- Add any additional content or styling here -->
			</div>
			
		</div>
		<div class="line-separator">		</div>
		<div class="centered-input">
			<input type="range" value="230" min="0" max="360" id="hue">
	    </div>
		<script src="/js/script.js"></script>
		<footer>
			<p style="text-align: center;">&copy; <span id="year"></span> Nexus Health Care. All rights reserved.</p>
		</footer>
		<script>
			document.getElementById('year').textContent = new Date().getFullYear();
		</script>
	</body>
</html>
