<!DOCTYPE html>
<html  lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Services We Provides</title>
		<link rel="stylesheet" type="text/css" href="/css/styles.css">
	</head>
	<body>
		<header>

			<nav>
				<ul>
					<li><h1>Welcome to Nexus Health Care</h1></li>
					<li><a href="/home">Home</a></li>
					<li><a href="/about">About</a></li>
					<li><a href="/service">Services</a></li>
					<li><a href="#">Blogs</a></li>
					<li>
	                    <div class="header-right">
	                        <div class="header-btn">
	                            <a href="/contact/showFormForContact" class="btn" style="background-color: lightseagreen;">Get in touch</a>
	                        </div>
	                    </div>
					</li>
				</ul>
			</nav>
		</header>
		<section>
			<h2>Below services we provides</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin commodo justo et leo interdum, sed scelerisque est cursus. Fusce vel volutpat nunc, ut cursus ex. Nulla ac congue ex, eu finibus nunc.</p>
		</section>

		<footer>
			<p>&copy; 2023 My Home Page. All rights reserved.</p>
		</footer>
	</body>
</html>